include ./includes/header.pug

main
    .jumbotron.container-fluid.text-center
        h1.lead Dashboard
        h3.lead What would you like today?
        button.btn.btn-success New Pool
        button.btn.btn-primary My Pools




include ./includes/footer.pug