include ./includes/header.pug

main
    .row
        ul.collapsible(data-collapsible="accordion")
            each poll in polls
                li.col.s10.offset-s1.m8.offset-m2.l6.offset-l3
                    .collapsible-header 
                        span.collection-item.col.s10.offset-s1.m8.offset-m2.l6.offset-l3= poll.name
                    .collapsible-body
                        form(action="/poll/" + poll.id, method="post", enctype="application/x-www-form-urlencoded")
                            ul.options 
                                each option in poll.options
                                    li.options-vote 
                                        //- span #{option.count}
                                        input(type="submit" name="value" value=option.value, title=option.count).btn
                                        
include ./includes/footer.pug