include ./includes/header.pug

main
    .collection.my_polls
        each poll in polls
            li.collection-item
                a(href="/poll/" + poll._id)= poll.name
                form(method="post", enctype="application/x-www-form-urlencoded")
                    button(type="submit", name="id", value=poll._id): i.material-icons cancel

include ./includes/footer.pug