script(src="https://use.fontawesome.com/d46701f5c3.js")
footer.text-center
    p   &copy; Not at All - Developed by Yusef Habib - 
      | <a href="https://github.com/yhabib"><i class="fa fa-github" aria-hidden="true"></i></a>
      | <a href="https://de.linkedin.com/in/yhabib"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    