script(
  src="https://code.jquery.com/jquery-3.1.1.min.js",
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",
  crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")
script(src="/logic/logic.js")
footer.white-text
    p: span.footer-copyright  &copy; Not at all - Developed by Yusef Habib - 
      | <a href="https://github.com/yhabib"><i class="fa fa-github" aria-hidden="true"></i></a>
      | <a href="https://de.linkedin.com/in/yhabib"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    