doctype html
html(lang="en")
    head
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        title Voting App 
        link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css", rel="stylesheet") 
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        link(href='./styles/main.css', rel='stylesheet')
        link(rel="shortcut icon" href="img/favicon.ico")
        
    body
        nav
            .nav-wrapper
                a.brand-logo(href="/") VotApp
                if !user.name
                    ul.right
                        li: a(href="/login").right Sign In with Twitter
                else
                    a(href="#", data-activates="mobile-demo", class="button-collapse"): i.material-icons menu
                    ul.right.hide-on-med-and-down
                        li: a(href="/new-poll") New Poll
                        li: a(href="/") My Polls
                        li: a.dropdown-button(href="#!", data-activates="dropdown1") #{user.name}<i class="material-icons left" aria-hidden="true">perm_identity</i><i class="material-icons right">arrow_drop_down</i>
                        ul(id='dropdown1', class='dropdown-content')
                            li: a(href="/") Logout
                    ul(class="side-nav", id="mobile-demo")
                        li: a(href="/new-poll") New Poll
                        li: a(href="/") My Polls
                        li: a.dropdown-button(href="#!", data-activates="dropdown2") #{user.name}<i class="material-icons left" aria-hidden="true">perm_identity</i><i class="material-icons right">arrow_drop_down</i>
                        ul(id='dropdown2', class='dropdown-content')
                            li: a(href="/") Logout