doctype html
html(lang="en")
    head
        title Microservices Project
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet") 
        link(href='./styles/main.css', rel='stylesheet')
        
    body
        .container.navbar.navbar-default
            p.navbar-brand VotApp
            : a(href="./") Home
            p Hello #{user}
            | settings
            | Logoutñ

        