html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(248, 248, 248);
}
body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    font-size: 62,5%;       /* 1 rem --> 10px */
}
nav {
    width: 100%;
    height: 5.5rem;
}

main {
    width: 100%;
    height: calc(100% - 7rem - 3rem);
    overflow-y: auto;
}

footer {
    width: 100%;
    height: 3rem;
    background-color: rgb(238, 110, 115);
    text-align: center;
}
.title {
    height: 20%;
}
.canvas {
    max-height: 80%;
    margin: 0 auto;
}
.options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.options-vote {
    flex: 1 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.options-vote span {
    flex-grow: 1;
    color: rgb(37, 126, 150);
    padding-left: 10px;
    padding-right: 15px;
}
.options-vote input {
    font-size: 11px;
}